### Task

#### С сайта https://www.renewable-ei.org/en/statistics/electricity/#demand выкачать информацию по генерации и ценам на РСВ (Рынок на Сутки Вперед; цены РСВ - колонка JEPX System price) по годам.
#### На сайте http://www.jepx.org/english/market/index.html выкачать информацию по ценам РСВ с колонки Spot Market Indices. В выкачанном файле проверить сходится ли почасовые цены РСВ с колонки «DA-24(VkWh)» с информацией с сайта https://www.renewable-ei.org/en/statistics/electricity/#demand (в случае ошибки – исправить).
#### В конце должен быть готовый скрипт по сбору информации с выше перечисленных ресурсов. На основе выкачанной информации сделать графики почасовой генерации и цен на РСВ (Matplotlib or Seaborn).

In [26]:
!pip install BeautifulSoup4

Defaulting to user installation because normal site-packages is not writeable
Collecting BeautifulSoup4
  Using cached beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
Requirement already satisfied: soupsieve>1.2 in /home/iassirskyi/.local/lib/python3.9/site-packages (from BeautifulSoup4) (2.1)
Installing collected packages: BeautifulSoup4
Successfully installed BeautifulSoup4-4.10.0

SyntaxError: invalid syntax (3825375239.py, line 1)

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bs4
import html5lib
from bs4 import BeautifulSoup 
import csv

In [49]:
# from https://www.renewable-ei.org/en/statistics/electricity/#demand

In [64]:
data_from_renewable = pd.read_csv('files/power_data_2015_2021.csv')

In [65]:
df = data_from_renewable

In [69]:
df_t = pd.DataFrame()

In [76]:
df_t.to_csv('files/tester.csv')

In [79]:
d = pd.read_csv('files/tester.csv')

In [80]:
d

Empty DataFrame
Columns: [Unnamed: 0]
Index: []

In [ ]:
c = pd.concat([])

In [77]:
df_1 = pd.concat([df, df_t])

In [78]:
df_1

,Date,Unnamed: 0,nuclear,thermal,hydropower,geothermal,bioenergy,solar,wind,pumping_up,pumping_down,regional_in,regional_out,solar_curtailment,wind_curtailment,demand,spot_price
0,2015-12-31 17:00:00,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
1,2015-12-31 18:00:00,1,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
2,2015-12-31 19:00:00,2,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
3,2015-12-31 20:00:00,3,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
4,2015-12-31 21:00:00,4,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,2021-09-30 13:00:00,6547,8993,78885.0,9964.0,244,1505,0,703,0,2918,6084,-6013,0.0,0.0,103284,10.54
50396,2021-09-30 14:00:00,6548,8990,75734.0,8756.0,244,1515,0,725,-1,1203,6414,-6366,0.0,0.0,97214,10.41
50397,2021-09-30 15:00:00,6549,8993,73302.0,7231.0,243,1515,0,672,-4,254,6310,-6262,0.0,0.0,92252,8.98
50398,2021-09-30 16:00:00,6550,8992,71448.0,6650.0,245,1514,0,611,-1350,157,6547,-6463,0.0,0.0,88350,8.17
50399,2021-09-30 17:00:00,6551,8995,69175.0,6470.0,245,1517,0,547,-2880,352,6841,-6775,0.0,0.0,84487,9.46

In [82]:
a = pd.DataFrame()

In [95]:
with open('files/tester.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerow('No data in 2015 year')

In [96]:
b = pd.read_csv('files/tester.csv')

In [97]:
b

Empty DataFrame
Columns: [N, o,  , d, a, t, a.1,  .1, i, n,  .2, 2, 0, 1, 5,  .3, y, e, a.2, r]
Index: []

In [98]:
df_1

,Date,Unnamed: 0,nuclear,thermal,hydropower,geothermal,bioenergy,solar,wind,pumping_up,pumping_down,regional_in,regional_out,solar_curtailment,wind_curtailment,demand,spot_price
0,2015-12-31 17:00:00,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
1,2015-12-31 18:00:00,1,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
2,2015-12-31 19:00:00,2,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
3,2015-12-31 20:00:00,3,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
4,2015-12-31 21:00:00,4,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,2021-09-30 13:00:00,6547,8993,78885.0,9964.0,244,1505,0,703,0,2918,6084,-6013,0.0,0.0,103284,10.54
50396,2021-09-30 14:00:00,6548,8990,75734.0,8756.0,244,1515,0,725,-1,1203,6414,-6366,0.0,0.0,97214,10.41
50397,2021-09-30 15:00:00,6549,8993,73302.0,7231.0,243,1515,0,672,-4,254,6310,-6262,0.0,0.0,92252,8.98
50398,2021-09-30 16:00:00,6550,8992,71448.0,6650.0,245,1514,0,611,-1350,157,6547,-6463,0.0,0.0,88350,8.17
50399,2021-09-30 17:00:00,6551,8995,69175.0,6470.0,245,1517,0,547,-2880,352,6841,-6775,0.0,0.0,84487,9.46

In [99]:
df = pd.concat([df_1, b])

In [100]:
df

,Date,Unnamed: 0,nuclear,thermal,hydropower,geothermal,bioenergy,solar,wind,pumping_up,...,.2,2,0,1,5,.3,y,e,a.2,r
0,2015-12-31 17:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-12-31 18:00:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-12-31 19:00:00,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-12-31 20:00:00,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-12-31 21:00:00,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,2021-09-30 13:00:00,6547.0,8993.0,78885.0,9964.0,244.0,1505.0,0.0,703.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50396,2021-09-30 14:00:00,6548.0,8990.0,75734.0,8756.0,244.0,1515.0,0.0,725.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50397,2021-09-30 15:00:00,6549.0,8993.0,73302.0,7231.0,243.0,1515.0,0.0,672.0,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50398,2021-09-30 16:00:00,6550.0,8992.0,71448.0,6650.0,245.0,1514.0,0.0,611.0,-1350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50399,2021-09-30 17:00:00,6551.0,8995.0,69175.0,6470.0,245.0,1517.0,0.0,547.0,-2880.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df = df.astype({'Date': 'datetime64[ns]'})

In [55]:
df.index = df.Date
df = df.drop('Date', axis=1)

In [56]:
df_1 = df.resample('D').last()

In [63]:
df_1

,Unnamed: 0,nuclear,thermal,hydropower,geothermal,bioenergy,solar,wind,pumping_up,pumping_down,regional_in,regional_out,solar_curtailment,wind_curtailment,demand,spot_price
Date,,,,,,,,,,,,,,,,
2015-12-31,6,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
2016-01-01,30,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
2016-01-02,54,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
2016-01-03,78,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
2016-01-04,102,0,0.0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-26,6461,8995,55765.0,7399.0,294,1476,47,651,-163,42,6128,-6036,0.0,0.0,74599,6.92
2021-09-27,6485,8986,60325.0,7412.0,247,1481,46,772,-11,385,6319,-6221,0.0,0.0,79738,7.30
2021-09-28,6509,8991,61106.0,6881.0,246,1482,35,910,-6,112,5973,-5880,0.0,0.0,79850,7.15
2021-09-29,6533,8991,63132.0,6799.0,246,1493,32,1141,-2600,290,6522,-6441,0.0,0.0,79607,8.17
2021-09-30,6551,8995,69175.0,6470.0,245,1517,0,547,-2880,352,6841,-6775,0.0,0.0,84487,9.46

In [59]:
df_2 = pd.read_csv('files/trading_data_2015_2021.csv')

In [60]:
df_2 = df_2.rename(columns={'\x94N\x8c\x8e\x93ú': 'Day', 'DA-24(\/kWh)': 'DA_24'})
df_2 = df_2.astype({'Day': 'datetime64[ns]', 'DA_24': 'float'})
df_2.index = df_2.Day
df_2 = df_2.drop('Day', axis=1)
df_2 = df_2.drop('Unnamed: 0', axis=1)

In [61]:
df_2

            DA_24  DA-DT(\/kWh)  DA-PT(\/kWh)   TTV(kWh)
Day
2016-04-01   7.43          7.95          7.81   47014500
2016-04-02   6.90          6.92          6.70   53013500
2016-04-03   6.27          6.45          6.59   44486500
2016-04-04   7.94          8.93          8.76   44494500
2016-04-05   6.99          7.29          6.85   50281000
...           ...           ...           ...        ...
2021-11-12  18.88         19.38         16.27  858145200
2021-11-13  14.88         14.20         11.44  811182650
2021-11-14  12.93         12.67          9.88  772335450
2021-11-15  18.92         20.84         18.62  831880650
2021-11-16  19.54         21.44         19.28  846699250

[2056 rows x 4 columns]

In [62]:
for index in df_2.index:
        if not index in df_1.index:
            df_2 = df_2.drop(index, axis=0)

In [ ]:
df

In [15]:
df

,nuclear,thermal,hydropower,geothermal,bioenergy,solar,wind,pumping_up,pumping_down,regional_in,regional_out,solar_curtailment,wind_curtailment,demand,spot_price
Date,,,,,,,,,,,,,,,
2020-12-31 17:00:00,2986,83586.0,4548.0,332,1632,0,2193,0,5067,6713,-6713,0,0,100345,37.50
2020-12-31 18:00:00,2990,81254.0,4336.0,329,1631,0,2139,0,3897,6673,-6668,0,0,96580,32.50
2020-12-31 19:00:00,2989,80222.0,4256.0,322,1633,0,2154,-1,3119,6106,-6113,0,0,94687,26.51
2020-12-31 20:00:00,2989,78918.0,4609.0,323,1634,0,2203,0,2534,5673,-5676,0,0,93209,25.00
2020-12-31 21:00:00,2988,77542.0,4192.0,321,1634,0,2197,0,2320,5382,-5381,0,0,91193,25.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30 13:00:00,8993,78885.0,9964.0,244,1505,0,703,0,2918,6084,-6013,0,0,103284,10.54
2021-09-30 14:00:00,8990,75734.0,8756.0,244,1515,0,725,-1,1203,6414,-6366,0,0,97214,10.41
2021-09-30 15:00:00,8993,73302.0,7231.0,243,1515,0,672,-4,254,6310,-6262,0,0,92252,8.98
2021-09-30 16:00:00,8992,71448.0,6650.0,245,1514,0,611,-1350,157,6547,-6463,0,0,88350,8.17
2021-09-30 17:00:00,8995,69175.0,6470.0,245,1517,0,547,-2880,352,6841,-6775,0,0,84487,9.46

In [ ]:
# from http://www.jepx.org/english/market/index.html

In [ ]:
data_from_jepx_2019 = pd.read_csv('files/index_2019.csv', encoding='ISO-8859-1')

In [ ]:
data_from_jepx_2020 = pd.read_csv('files/index_2020.csv', encoding='ISO-8859-1')

## Concat tables from jepx

In [ ]:
concat_table = pd.concat([data_from_jepx_2019, data_from_jepx_2020], axis=0)
concat_table.to_csv('files/index_2019_2020.csv')
data_from_jpex = pd.read_csv('files/index_2019_2020.csv')

In [ ]:
concat_table

## Clean data from renewable

In [ ]:
old_columns = data_from_renewable.columns.tolist()

In [ ]:
new_columns = data_from_renewable.iloc[0].tolist()

In [ ]:
new_columns[0] = 'Day'
new_columns[1] = 'Time'
new_columns[-1] = 'JEPX_System_Price'

In [ ]:
df = data_from_renewable.rename(columns=dict(zip(old_columns, new_columns)))

In [ ]:
df = df.drop(index=0, axis=0)

In [ ]:
df = df.astype({'Day': 'datetime64[ns]', 'JEPX_System_Price': 'float'})

In [ ]:
df.Time = pd.to_timedelta(df.Time.astype(str) + ':00')

In [ ]:
df.Day = df.Day + df.Time

In [ ]:
df = df.drop('Time', axis=1)

In [ ]:
df.index = df.Day

In [ ]:
df = df.drop('Day', axis=1)

In [ ]:
int_type = {}
for column in df.columns.tolist()[0:-1]:
    int_type[column] = 'int'

In [ ]:
df = df.astype(int_type)

In [ ]:
df.dtypes

In [ ]:
data_from_renewable = df

In [ ]:
data_price_from_renewable = df.resample('D').JEPX_System_Price.mean().round(2)

In [ ]:
data_price_from_renewable

## Clean data from jepx

In [ ]:
old_columns = data_from_jpex.columns.tolist()

In [ ]:
old_columns

In [ ]:
df = data_from_jpex.rename(columns={'\x94N\x8c\x8e\x93ú': 'Day', 'DA-24(\/kWh)': 'DA_24'})

In [ ]:
df = df.astype({'Day': 'datetime64[ns]', 'DA_24': 'float'})

In [ ]:
df.index = df.Day

In [ ]:
df = df.drop('Day', axis=1)

In [ ]:
data_price_from_jepx = df

In [ ]:
data_price_from_jepx

## Compare 'data_price_from_renewable' with 'data_price_from_jepx'

In [ ]:
for index in data_price_from_jepx.index:
    if not index in data_price_from_renewable.index:
        data_price_from_jepx = data_price_from_jepx.drop(index, axis=0)

In [ ]:
data_price_from_jepx.index

In [ ]:
price_from_jepx = data_price_from_jepx[['DA_24']]

In [ ]:
price_from_jepx

In [ ]:
data_price_from_renewable

In [ ]:
data_price_from_jepx['DA_24']

In [ ]:
data_price_from_jepx['match'] = np.where(data_price_from_jepx['DA_24'] == data_price_from_renewable,  \
                                         'True', data_price_from_jepx['DA_24'])

In [ ]:
data_price_from_jepx

### Build Charts

In [ ]:
df = data_from_renewable[['Nuclear', 'Thermal', 'Hydropower', 'Geothermal', 'Biomass', 'SolarPV', 'Wind']]

In [ ]:
df.plot(figsize=(16, 10))